<div class="row customer-index">
  <% customers.each do |customer| %>
    <div class="my-2 p-2 border customer-card text-center">
      <div onclick='window.location="<%= '/customers/' + customer.id.to_s %>"' role="link">
        <%= link_to customer_path(customer.id) do %>
          <%= image_tag customer.get_profile_image(200,200), class: "rounded-circle col" %>
          <p class="text-dark mt-4"><%= customer.nick_name %></p>
        <% end %>
          <p><%= customer.introduction %></p>
      </div>
    </div>
  <% end %>
</div>