<div class="container">
  <div class="row">
    <div class="col-11 offset-1">
      <h3 class="mb-5 mini-title">マイページ</h3>
    </div>
  </div>

    <table class="table table-borderless">
      <tr class="address-index-button">
        <th class="col-2"><h3><b>登録情報</b></h3></th>
        <td><%= link_to '編集する', edit_customer_path(current_customer), class: "btn btn-success col-2" %></td>
      </tr>
    </table>

    <div class="row flex-nowrap">
      <table class="table table-bordered col-7 ml-3 mb-4">
        <tbody>
          <tr>
            <th class="col-4 table-active">氏名</th>
            <td><%= current_customer.last_name %>　<%= current_customer.first_name %></td>
          </tr>
          <tr>
            <th class="table-active">カナ</th>
            <td><%= current_customer.last_name_kana %>　<%= current_customer.first_name_kana %></td>
          <tr>
            <th class="table-active">ニックネーム</th>
            <td><%= current_customer.nick_name %></td>
          </tr>
          <tr>
            <th class="table-active">メールアドレス</th>
            <td><%= current_customer.email %></td>
          </tr>
          <tr>
            <th class="table-active">自己紹介</th>
            <td><%= current_customer.introduction %></td>
          </tr>
        </tbody>
      </table>
      <div class="col-5">
         <%= image_tag current_customer.get_profile_image(200,200), class: "rounded-circle" %>
      </div>
    </div>

    <h3>投稿履歴</h3>
      <%= render 'shared/posts/index', posts: @posts, customer: @customer %>

    <h3>ブックマーク一覧</h3>
      <%= render 'shared/customers/bookmark', favorites: @favorites %>
</div>