<div class="container py-5">
  <div class="row">
    <div class="col-5 text-center">
      <h2 class="heading" data-en="MyPage">マイページ</h2>
    </div>
  </div>

  <div class="row my-4">
    <h3 class="col-6"><b>登録情報</b></h3>
    <div class="col-6">
      <%= link_to '編集する', edit_customer_path(current_customer), class: "btn btn-success" %>
    </div>
  </div>

  <div class="row">
    <table class="col-7 table border-bottom table-hover table-background">
      <tbody>
        <tr>
          <th class="col-4 table-active">氏名</th>
          <td><%= current_customer.last_name %>　<%= current_customer.first_name %></td>
        </tr>
        <tr>
          <th class="table-active">カナ</th>
          <td><%= current_customer.last_name_kana %>　<%= current_customer.first_name_kana %></td>
        <tr>
          <th class="table-active">ニックネーム</th>
          <td><%= current_customer.nick_name %></td>
        </tr>
        <tr>
          <th class="table-active">メールアドレス</th>
          <td><%= current_customer.email %></td>
        </tr>
        <tr>
          <th class="table-active">自己紹介</th>
          <td><%= current_customer.introduction %></td>
        </tr>
      </tbody>
    </table>
    <div class="col-5">
       <%= image_tag current_customer.get_profile_image(200,200), class: "rounded-circle" %>
    </div>
  </div>

    <h3 class="my-4"><b>投稿履歴</b></h3>
      <div id="post_index">
        <%= render 'public/posts/post_index_public', posts: @posts, customer: @customer %>
      </div>
      <div class="more">
        <b><%= link_to_next_page @posts, 'もっと見る', remote: true, params: { type: :post }, id: 'view_more_post', style:"color:black;" %></b>
      </div>

    <h3 class="my-4"><b>ブックマーク一覧</b></h3>
      <div id="bookmark">
        <%= render 'shared/customers/bookmark', favorites: @favorites , post: @post %>
      </div>
      <div class="more">
        <b><%= link_to_next_page @favorites, 'もっと見る', remote: true, params: { type: :favorite }, id: 'view_more' , style:"color:black;" %></b>
      </div>
</div>