 <div class="row justify-content-center">
    <% posts.each do |post| %>
      <div class = "my-2 mx-1 p-2 table-background text-center" >
        <%= link_to post_path(post.id) do %>
          <%= image_tag post.image, size: "250x220" %>
          <div class="row justify-content-around">
            <p class="col card-title text-dark pt-2"><%= post.title %></p>
          </div>
          <div class="row justify-content-around">
            <p class="col card-title text-dark pt-2"><%= post.prefecture.name %></p>
          </div>
          <div class="row align-item-center">
            <div class="col">
              <%= render "shared/posts/static_rate", post: post %>
            </div>
          </div>
          <div class="row justify-content-around">
              <i class="fas fa-eye"></i><%= post.impressions_count %>
              <div id ="favorite_btn_<%= post.id %>">
                <%= render 'public/favorites/favorite', post: post %>
              </div>
              <i class="fas fa-comment-alt"></i><%= post.post_comments.count %>
          </div>
          <div class="row justify-content-around">
            <%= post.shooting_date %>
              <%= link_to post_path(customer.id) do %>
                <%= image_tag post.customer.get_profile_image(40,40) ,class: "rounded-circle"%>
                <%= post.customer.nick_name %>
              <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>