<table class="table table-striped">
       <h3 class="mini-title">商品一覧</h3>
          <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td>
                <%= image_tag @post.image,size:"160x120" %>
              </td>
              <td>
                <%= link_to (@post.customer) do %>
                <%= image_tag @post.customer.profile_image,size:"40x40" %>
                <% end %>
              </td>
              <td><%= link_to post.title, post_path(post.id) %></td>
              <td><%= post.prrefecture %></td>
              <td>
                <div id="favorite_btn_<%= post.id %>">
                  <%= render 'favorites/favorite', post: @post %>
                </div>
              </td>
              <td>コメント数：<%= post.post_comments.count %></td>
              <td><%= render "posts/static_rate", post: @post %></td>
              <td>閲覧数：<%= post.impressions_count %></td>
              <td><%= post.shooting_date %></td>
            </tr>
          <% end %>
          </tbody>
      </table>