<h2 class="mt-3">新規投稿</h2>

  <%= form_with model: @post do |f| %>
  　<div class="field form-group row">
        <%= f.label :撮影画像, class: "col-3" %>
        <%= f.file_field :image, accept: "image/*", class:"col-8 p-0" %>
      </div>
    <div class="form-group">
      <%= f.label :撮影場所, class: "col-3" %>
      <%= f.text_field :title, class:"form-control post_title col-8" %>
    </div>
     <div class="form-group">
      <%= f.label :都道府県, class: "col-3" %>
      <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name,{include_blank: "---"} ) %>
    </div>
    <div class="form-group">
      <%= f.label :撮影日, class: "col-3" %>
      <%= f.date_field :shooting_date, class:"form-control post_shooting_date col-8" %>
    </div>
    <div class="form-group">
      <%= f.label :アクセス, class: "col-3" %>
      <%= f.text_area :access, class:"form-control post_access col-8" %>
    </div>
    <div class="form-group">
      <%= f.label :機体名, class: "col-3" %>
      <%= f.text_field :drone_type, class:"form-control post_drone_type col-8" %>
    </div>
    
    <div class="form-group">
      <%= f.label :許可取り, class: "col-3" %>
      <%= f.text_area :authorization, class:"form-control post_authorization col-8" %>
    </div>

    <% if @post.id === nil %>
    <div class="form-group" id="star">
      <%= f.label :オススメ度 %>
      <%= f.hidden_field :rate, id: :review_star, class:'form-control' %>
    </div>

    <script>
      $('#star').raty({
        size     : 36,
        starOff:  "<%= asset_path('star-off.png') %>",
        starOn : "<%= asset_path('star-on.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        scoreName: 'post[rate]',
        half: true,
      });
    </script>
    <% else %>
      <%= render "static_rate", post: @post %>
    <% end %>

    <div class="form-group">
      <%= f.label :備考欄, class: "col-3" %>
      <%= f.text_area :remarks, class:"form-control post_remarks col-8" %>
    </div>

    <div class="form-group">
      <%= f.submit class:"btn btn-success" %>
    </div>
  <% end %>