<div class="container">
  <div class="row my-2">
    <h3 class="col-6">登録情報</h3>
    <div class"col-6">
      <%= link_to '編集する', edit_admin_customer_path(@customer), class: "btn btn-success" %>
    </div>
  </div>

  <div class="row">
    <table class="col-7 table border-bottom table-hover table-background">
      <tbody>
        <tr>
          <th class="col-4 table-active">会員ID</th>
          <td><%= @customer.id %></td>
        </tr>
        <tr>
          <th class="col-4 table-active">氏名</th>
          <td><%= @customer.last_name %>　<%= @customer.first_name %></td>
        </tr>
        <tr>
          <th class="table-active">カナ</th>
          <td><%= @customer.last_name_kana %>　<%= @customer.first_name_kana %></td>
        <tr>
          <th class="table-active">ニックネーム</th>
          <td><%= @customer.nick_name %></td>
        </tr>
        <tr>
          <th class="table-active">メールアドレス</th>
          <td><%= @customer.email %></td>
        </tr>
        <tr>
          <th class="col-4 table-active">自己紹介</th>
          <td><%= customer.introduction %></td>
        </tr>
        <tr>
          <th class="col-4 table-active">会員ステータス</th>
          <td>
            <% if @customer.active_for_authentication? %>
              <b class="text-success">有効</b>
            <% else %>
              <b class="text-muted">退会</b>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="offset-1 col-3 d-flex align-items-center">
      <%= image_tag customer.get_profile_image(200,200), class: "rounded-circle" %>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      <h3>投稿一覧</h3>
    </div>
  </div>
  <%= render 'admin/posts/post_index_admin', posts: posts, customer: customer %>
</div>
