<table class="table table-borderless">
  <tr class="address-index-button">
    <th class="col-2"><h3><b>登録情報</b></h3></th>
    <td><%= link_to '編集する', edit_admin_customer_path(@customer), class: "btn btn-success col-2" %></td>
  </tr>
</table>
<div class="row">
  <div class="offset-1 col-3 d-flex align-items-center">
    <%= image_tag customer.get_profile_image(150,150), class: "rounded-circle" %>
  </div>
  <table class="table table-bordered col-7 ml-3 mb-4 table-background">
    <tbody>
      <tr>
        <td>会員ID</td>
        <td><%= @customer.id %></td>
      </tr>
      <tr>
        <th class="col-4 table-active">氏名</th>
        <td><%= @customer.last_name %>　<%= @customer.first_name %></td>
      </tr>
      <tr>
        <th class="table-active">カナ</th>
        <td><%= @customer.last_name_kana %>　<%= @customer.first_name_kana %></td>
      <tr>
        <th class="table-active">ニックネーム</th>
        <td><%= @customer.nick_name %></td>
      </tr>
      <tr>
        <th class="table-active">メールアドレス</th>
        <td><%= @customer.email %></td>
      </tr>
      <tr>
        <td>会員ステータス</td>
        <td>
          <% if @customer.active_for_authentication? %>
            <b class="text-success">有効</b>
          <% else %>
            <b class="text-muted">退会</b>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
  </div>

  <div class="row mt-5">
    <div class="col-11 offset-1">
      <h3>投稿一覧</h3>
    </div>
  </div>
  <%= render 'admin/posts/post_index_admin', posts: posts, customer: customer %>