<div class="row my-5 post-edit-background">
  <div class="col-12 pt-3">
    <div id="error" class="mb-1"><%= render 'layouts/errors', obj: post %></div>
      <%= form_with model:post, url:admin_post_path(post), method: :patch do |f| %>
      　<div class="field form-group row">
          <%= f.label :撮影画像, class: "col-md-2 col-12" %>
          <%= f.file_field :image, accept: "image/*", class:"col-md-10 col-12" %>
        </div>
        <div class="form-group row">
          <%= f.label :撮影場所, class: "col-md-2 col-12" %>
          <%= f.text_field :title, class:"form-control post_title col-md-9 col-12" %>
        </div>
         <div class="form-group row">
          <%= f.label :都道府県, class: "col-md-2 col-12" %>
          <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name,{include_blank: "---"} ) %>
        </div>
        <div class="form-group row">
          <%= f.label :撮影日, class: "col-md-2 col-12" %>
          <%= f.date_field :shooting_date, class:"form-control post_shooting_date col-md-3 col-5" %>
        </div>
        <div class="form-group row">
          <%= f.label :アクセス, class: "col-md-2 col-12" %>
          <%= f.text_area :access, class:"form-control post_access col-md-9 col-12" %>
        </div>
        <div class="form-group row">
          <%= f.label :機体名, class: "col-md-2 col-12" %>
          <%= f.text_field :drone_type, class:"form-control post_drone_type col-md-9 col-12" %>
        </div>

        <div class="form-group row">
          <%= f.label :許可取り, class: "col-md-2 col-12" %>
          <%= f.text_area :authorization, class:"form-control post_authorization col-md-10 col-12" %>
        </div>

        <div class="form-group row">
          <%= f.label :申請の種類, class: "col-md-2 col-12" %>
          <div class="col-10">
            <%= f.check_box :request, {multiple: true}, "該当なし", nil  %>該当なし
          </div>
          <div class="offset-md-2 col-md-10 col-12">
            <%= f.check_box :request, {multiple: true}, "空港などの周辺地域の上空", nil %>空港などの周辺地域の上空
            <%= f.check_box :request, {multiple: true}, "緊急用務空域", nil %>緊急用務空域
            <%= f.check_box :request, {multiple: true}, "150m以上での高さでの飛行", nil %>150m以上での高さでの飛行
            <%= f.check_box :request, {multiple: true}, "人工集中地区の上空", nil %>人工集中地区の上空
          </div>
          <div class="offset-md-2 col-md-10 col-12">
            <%= f.check_box :request, {multiple: true}, "夜間飛行", nil %>夜間飛行
            <%= f.check_box :request, {multiple: true}, "目視外飛行", nil %>目視外飛行
            <%= f.check_box :request, {multiple: true}, "人・物・車等の30m未満飛行", nil %>人・物・車等の30m未満飛行
            <%= f.check_box :request, {multiple: true}, "イベント上空飛行", nil %>イベント上空飛行
            <%= f.check_box :request, {multiple: true}, "危険物輸送", nil %>危険物輸送
            <%= f.check_box :request, {multiple: true}, "物件投下", nil %>物件投下
          </div>
        </div>

        <!--<%# if post.id === nil %>  現状使わない、使う可能性があるため残しておく。-->
        <div class="form-group row" id="star">
          <%= f.label :オススメ度, class: "col-md-2 col-12" %>
          <%= f.hidden_field :rate, id: :review_star, class:'form-control col-10' %>

          <script>
            $('#star').raty({
              size     : 36,
              starOff:  "<%= asset_path('star-off.png') %>",
              starOn : "<%= asset_path('star-on.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              scoreName: 'post[rate]',
              half: true,
            });
          </script>
          <!--<%# else %>現状使わない、使う可能性があるため残しておく。-->
            <%#= render "shared/posts/static_rate", post: post %>
          <%# end %>
        </div>

        <div class="form-group row">
          <%= f.label :備考欄 , class:"col-md-2 col-12" %>
          <%= f.text_area :remarks, class:"form-control post_remarks col-md-10 col-12" %>
        </div>

        <h6>撮影ポイント</h6>
        <input id="address" type="textbox" placeholde="場所の検索">
        <input type="button" value="検索" onclick="codeAddress()">
        <p>マーカーをドラック＆ドロップで位置の調整ができます。<p>
          <div class="actions">
            <%= f.label :lat,"緯度" %>
            <%= f.text_field :lat, placeholder:"自動入力", id: :lat %></br>
            <%= f.label :lng,"経度" %>
            <%= f.text_field :lng, placeholder:"自動入力", id: :lng %>
          </div>

        <div id='map', class="my-3 ml-3"></div>

        <div class="form-group row">
          <%= f.submit "変更する", class:"btn btn-success" %>
        </div>
      <% end %>
  </div>
</div>

<script>
//初期マップの設定
let map
let marker
function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center:  {lat: <%= post.lat %>, lng:<%= post.lng %>},
    zoom: 15,

  });
}

//検索後のマップ作成
let geocoder
let aft
function codeAddress(){
  let inputAddress = document.getElementById('address').value;
  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
        //マーカーが複数できないようにする
        if (aft == true){
            marker.setMap(null);
        }

        //新しくマーカーを作成する
        map.setCenter(results[0].geometry.location);
            marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location,
            draggable: true // ドラッグ可能にする
        });

        //二度目以降か判断
        aft = true

        //検索した時に緯度経度を入力する
        document.getElementById('lat').value = results[0].geometry.location.lat();
        document.getElementById('lng').value = results[0].geometry.location.lng();

        // マーカーのドロップ（ドラッグ終了）時のイベント
        google.maps.event.addListener( marker, 'dragend', function(ev){
            // イベントの引数evの、プロパティ.latLngが緯度経度
            document.getElementById('lat').value = ev.latLng.lat();
            document.getElementById('lng').value = ev.latLng.lng();
        });
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });
}

</script>

<!-- "YOUR_API_KEY" の部分に、作成したAPIキーを貼り付ける -->
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>" async defer></script>