<div class="post-show-background px-5">
  <div class='row pt-5'>
    <div class="col-6">
      <div class="row justify-content-center">
        投稿ID：<%= post.id %>
      </div>
      <%= image_tag post.image,size: "480x360" %>
      <div class="row mt-2 justify-content-center" style="line-height:40px">
          撮影日：<%= post.shooting_date %>
      </div>
      <div class="row justify-content-center" style="line-height:40px">
          投稿日：<%= post.created_at.to_s(:datetime_jp) %>
      </div>
      <div class="row justify-content-center px-3" style="line-height:40px">
          投稿者：<%= link_to admin_customer_path(post.customer.id) do %>
                    <%= image_tag post.customer.get_profile_image(40,40) ,class: "rounded-circle mx-3" %>
                    <%= post.customer.nick_name %>
                  <% end %>
      </div>
      <div class="row mt-4">
        <div class="col-6 d-flex justify-content-end">
          <i class="far fa-eye"></i>
          <%= post.impressions_count %>
        </div>
        <div class="col-6 d-flex justify-content-start">
          <i class="far fa-thumbs-up"></i>
          <%= post.favorites.count %>
        </div>
      </div>
    </div>

    <div class="col-6 post-show-character">
      <div class="row">
        <b>撮影場所：</b><%= post.title %>
      </div>
      <div class="row">
        <b>都道府県：</b><%= post.prefecture.name %>
      </div>
      <div class="row">
        <b>アクセス：</b><%= post.access %>
      </div>
      <div class="row">
        <b>機体名：</b><%= post.drone_type %>
      </div>
      <div class="row">
        <b>申請：</b><% post.get_request_strings.each_with_index do |req, index| %>
        <%= req %><% if index != post.get_request_strings.size - 1%>,&nbsp;<%end%>
        <%end%>
      </div>
      <div class="row">
        <b>許可：</b><%= post.authorization %>
      </div>
      <div class="row">
        <b>オススメ度：</b><%= render "shared/posts/static_rate", post: post %>
      </div>
      <div class="row">
        <b>備考欄：</b><%= post.remarks %>
      </div>
      <div class="row justify-content-around my-5">
          <%= link_to "投稿を編集する", edit_admin_post_path(post.id), class: "btn btn-success btn-sm" , data: {"turbolinks" => false} %>
          <%= link_to "投稿を削除する", admin_post_path(post.id), method: :delete, "data-confirm" => "本当に削除しますか？" ,class: "btn btn-danger btn-sm"%>
      </div>
    </div>
  </div>

  <div id='map', class="my-3"></div>

  <!-- js部分 -->
  <script>
  //初期マップの設定
  let map
  let marker
  function initMap(){
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map'), {
      center:  {lat: <%= post.lat %>, lng: <%= post.lng %>},
      zoom: 15,
    });

     marker = new google.maps.Marker({
      position:  {lat: <%= post.lat %>, lng: <%= post.lng %>},
      map: map
    });
  }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>" async defer></script>

   <div class="row">
    <div class="col">
      <div id="comments_area_<%= post.id %>">
        <%= render 'admin/post_comments/comment_index_admin', post: post, customer: customer %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div  id="comment_form">
        <%= render "admin/post_comments/comment_form_admin", post: post, post_comment: post_comment %>
      </div>
    </div>
  </div>
</div>