<div class='row'>
  <div class="col-4 ml-5 mt-5">
    <%= image_tag @post.image,size: "160x120" %>
    </td>
    <td>
    <%= image_tag @post.customer.profile_image,size:"40x40" %>
    </td>
    <td><%= @post.title %></td>
    <td><%= @post.prefecture.name %></td>
    <td><%= @post.access %></td>
    <td><%= @post.drone_type %></td>
    <td><%= @post.authorization %></td>
    <td><%= @post.remarks %></td>
    <td>
    <td>
      <i class="fas fa-thumbs-up" aria-hidden="true"></i>
      <%= @post.favorites.count %>
    </td>
    </td>

    <td><%= render "public/posts/static_rate", post: @post %></td>

    <td><i class="fas fa-eye"></i><%= @post.impressions_count %></td>
    <td><%= @post.shooting_date %></td>
    <td>
      <%= link_to customers_path(@post.customer.id) do %>
        <% if @post.customer.profile_image.attached? %>
        <%= image_tag @post.customer.profile_image,size:"40x40" %>
        <% end %>
      <% end %>
    </td>
    <td><%= @post.customer.nick_name %></td>
    </tr>
      <td><%= link_to "Edit", edit_admin_post_path(@post.id), class: "btn btn-success btn-sm" %></td>
      <td><%= link_to "Destroy",admin_post_path(@post.id),method: :delete, "data-confirm" => "Are you sure?" ,class: "btn btn-danger btn-sm"%></td>

    <table>
          <div id="comments_area_<%= @post.id %>">
            <%= render 'public/post_comments/comment_index', post: @post %>
          </div>
    </table>