<div class="row">
      <div class = "d-flex align-content-around flex-wrap" >
    　  <% favorites.each do |favorite| %>
          <div class = "m-2 p-2 table-background" >
              <%= image_tag favorite.post.image, size: "320x240" %>
              <div class="row justify-content-around">
                <p class="card-title text-dark pt-2"><%= favorite.post.title %></p>
              </div>
              <div class="row justify-content-around">
                <p class="card-title text-dark pt-2"><%= favorite.post.prefecture.name %></p>
              </div>
              <div class="row justify-content-center">
                <p class="card-title text-dark">オススメ度：<%#= render "shared/posts/static_rate", post: favorites %></p>
              </div>
              <div class="row justify-content-around">
                  <i class="fas fa-eye"></i><%= favorite.post.impressions_count %>
                  <div id ="favorite_btn_<%= favorite.post.id %>">
                    <%#= render 'public/favorites/favorite', post: post %>
                  </div>
                  <i class="fas fa-comment-alt"></i><%= favorite.post.post_comments.count %>
              </div>
              <div class="row justify-content-around">
                  <%= favorite.post.shooting_date %>
                  <%= link_to customer_path(favorite.customer.id) do %>
                    <%= image_tag favorite.post.customer.get_profile_image(40,40) ,class: "rounded-circle"%>
                  <% end %>
                  <%= favorite.post.customer.nick_name %>
              </div>
            </div>
        <% end %>
      </div>
    </div>