<%= form_with model:[post, post_comment], method: :post do |f| %>
  <div class="errors">
    <%= render 'layouts/errors', obj: f.object %>
  </div>
  <div class="row">
    <%= f.label :コメント, class: "col-1" %>
    <%= f.text_area :comment, rows: '5', class: "col-8", placeholder: "コメントをここに" %>
  </div>
  <div class="row mt-4">
    <%= f.submit "コメント", class: "btn btn-success col-2" %>
  </div>
<% end %>