<!--コメント入力フォームの部分テンプレート-->
<%= form_with model:[post, post_comment], method: :post do |f| %>
  <!--エラーメッセージ-->
  <div class="errors">
    <%= render 'layouts/errors', obj: f.object %>
  </div>
  <%= f.label :コメント, class: "col-2" %>
  <%= f.text_area :comment, rows: '5', class: "textbox", placeholder: "コメントをここに" %>
  <%= f.submit "コメント", class: "btn btn-success" %>
<% end %>