<div class="row mt-3 ml-1">
  <div class="col-xs-2">
    <i class="far fa-comment-dots"></i>：<%= post.post_comments.count %>
  </div>
</div>
<h6 class="more" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">もっと見る....</h6>
  <% post.post_comments.order(created_at: :desc).first(2).each do |post_comment| %>
    <div class="mb-4 p-3 alert alert-light shadow">
      <div class="row d-flex mr-4">
        <div class="col">
        <% if post_comment.customer_id == nil %>
          <%= "管理者" %>
        <% else %>
          <%= link_to admin_customer_path(post_comment.customer.id) do %>
            <%= image_tag post_comment.customer. get_profile_image(40,40),class: "rounded-circle" %>
            <%= post_comment.customer.nick_name %>
          <% end %>
          <% end %>
        </div>
        <div class="col d-flex justify-content-end" style="font-size:16px;">
          <%= post_comment.created_at.strftime('%Y/%m/%d %H:%M') %>
        </div>
      </div>
      <div class="row p-3">
        <%= post_comment.comment %>
      </div>
      <div class="row px-3">
          <%= link_to "削除", admin_post_post_comment_path(post, post_comment), method: :delete, class: "btn btn-danger pull_right", remote: true, data: {confirm: "本当に削除しますか？"}%>
      </div>
    </div>
  <% end %>
  <div class="collapse" id="collapseExample">
    <% post.post_comments.order(created_at: :desc).offset(2).each do |post_comment| %>
      <div class="mb-4 p-3 alert alert-light shadow">
        <div class="row d-flex mr-4">
          <div class="col">
          <% if post_comment.customer_id == nil %>
            <%= "管理者" %>
          <% else %>
            <%= link_to admin_customer_path(post.customer.id) do %>
              <%= image_tag post_comment.customer. get_profile_image(40,40),class: "rounded-circle" %>
              <%= post_comment.customer.nick_name %>
            <% end %>
          <% end %>
          </div>
          <div class="col d-flex justify-content-end" style="font-size:16px;">
            <%= post_comment.created_at.strftime('%Y/%m/%d %H:%M') %>
          </div>
        </div>
        <div class="row p-3">
          <%= post_comment.comment %>
        </div>
        <div class="row px-3">
            <%= link_to "削除", admin_post_post_comment_path(post, post_comment), method: :delete, class: "btn btn-danger pull_right", remote: true, data: {confirm: "本当に削除しますか？"}%>
        </div>
      </div>
    <% end %>
  </div>